{% extends 'base.html'%}
{% load static %}

{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Actus et changements</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->/
        <div class="card-body"><p><h6><b>08/12/2023 : Attention au 1er décembre dans votre relevé d'heures !</b></h6><br>
        </p>
          <p></p>
        </div>
        <div class="card-body"><p><h6><b>24/11/2023 : Corrections sur les congés</b></h6></p>
          <p>Correction d'un bug qui faisait que certains client de messagerie validaient automatiquement les congés lors de la réception du mail de validation, en chargeant automatiquement les liens a l'ouverture du mail.
          <br>Pour éviter cela, maintenant, la personne qui valide le congé passe par une page intermédiaire, ou il est demandé à l'adhérent d'accepter ou refuser le congé.</p>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
  {% if perms.geauth.can_view_indicators %}
  <div class="row">
    <div class="col-3">
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="far fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Heures PROGRESSIS/AUTRES en {{date_mois_precedent | date:"F"}}</span>
          <span class="info-box-number">{{total_heures_progressis|floatformat}}/{{total_heures_adherent|floatformat}} ({{pourcent_heures_progressis |floatformat}} %)</span>
        </div>
        <!-- /.info-box-content -->
        
      </div>
    </div>
    <div class="col-9">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Historique des heures</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table-condensed table">
            <thead>
              <th>Mois</th>
              <th>Heures Facturées</th>
              <th>Heures Tps Partagé</th>
              <th>Heures La Poste</th>
              <th>Heures Progressis</th>
              <th>Equipe Gestion</th>
              <th>Progressis hors gestion</th>
              <th>Intermission</th>
              <th>Formation</th>

              <th>Loc. Ordi</th>
            </thead>
            <tbody>
              {% for histo in historique_mois %}
                <tr>
                  <td>{{ histo.month | date:"F Y" }}</td>
                  <td>{% if histo.heures_adherents  != 0 %}{{ histo.heures_adherents | floatformat }} h{% endif %}</td>
                  <td>{% if histo.heures_tps_partage  != 0 %}{{ histo.heures_tps_partage | floatformat }} h{% endif %}</td>
                  <td>{% if histo.la_poste  != 0 %}{{ histo.la_poste | floatformat }} h{% endif %}</td></td>
                  <td>{% if histo.heures_progressis  != 0 %}{{ histo.heures_progressis | floatformat }} h{% endif %}</td>
                  <td>{% if histo.equipe_gestion  != 0 %}{{ histo.equipe_gestion | floatformat }} h{% endif %}</td></td>
                  <td>{% if histo.progressis_non_gestion  != 0 %}{{ histo.progressis_non_gestion | floatformat }} h{% endif %}</td></td>
                  <td>{% if histo.intermission  != 0 %}{{ histo.intermission | floatformat }} h{% endif %}</td></td>
                  <td>{% if histo.heures_formation  != 0 %}{{ histo.heures_formation | floatformat }} h{% endif %}</td>
                  <td>{% if histo.loc_ordi  != 0 %}{{ histo.loc_ordi | floatformat }} u{% endif %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return {
      // loader
      loader: false,

    };
  },
  computed: {
    
  },
  methods: {
  },
  mounted: function () {

  },
});

</script>
{% endblock "footer_js"%}