{% extends 'base.html'%}
{% load static %}

{% block "main_content" %}
<div id="app">
  {% if perms.activite.add_saisieactivite %}
  <div class="row">
    <div class="col-3">
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="far fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Heures PROGRESSIS/AUTRES en {{date_mois_precedent | date:"F"}}</span>
          <span class="info-box-number">{{total_heures_progressis|floatformat}}/{{total_heures_adherent|floatformat}} ({{pourcent_heures_progressis |floatformat}} %)</span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>

  </div>
  {% endif %}
</div>
{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return {
      // loader
      loader: false,

    };
  },
  computed: {
    
  },
  methods: {
  },
  mounted: function () {

  },
});

</script>
{% endblock "footer_js"%}