{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}{% endblock navbar %}
{% block sidebar %}{% endblock sidebar %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Définissez votre nouveau mot de passe</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            {{form}}

            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>
$(function () {
    $('.select2').select2({
      theme: 'bootstrap4',
    });    
});
var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return({
    });
  },

  methods: {
  },

});


</script>
{% endblock "footer_js"%}