{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block navbar %}
{% endblock navbar %}
{% block sidebar %}
{% endblock sidebar %}
{% block background_image %}
{% endblock background_image %}

{% block "main_content" %}

{% endblock "main_content"%}
{% block body %}
    <div class="row">
        <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if object %}
            <img src={% static 'logo600.png' %}>
            <p><h1>Bonjour {{object.nom_prenom}}</h1></p>

            <p><h4>{{object.demande.salarie}} aimerait prendre un congé, du {{object.demande.debut}} au {{object.demande.fin}} : </p>
            <p><h5>(motif : {{object.demande.motif}})<h5></p>
            
            {% if motif.demande.commentaire_salarie %}
            <p><h4>{{motif.demande.commentaire_salarie}}</h4></p>
            {% endif %}
            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <a href="/conge/accept/{{ object.slug_acceptation }}/" class="btn btn-primary btn-lg"><i class="fas fa-thumbs-up"></i> Accepter</a>
                </div>
                <div class="col-6" style="text-align: center;">
                    <a href="/conge/reject/{{ object.slug_refus }}/" class="btn btn-warning btn-lg"><i class="fas fa-thumbs-down"></i> Refuser</a>
                </div>
            </div>
            <br><br>

            <p><b>Note :</b> Si vous ne répondez pas sous 15 jours, la demande sera automatiquement acceptée.</p>
            {% else %}

            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>Oups ! Ca n'a pas marché !</h3>
                    <p><b>Le lien que vous avez cliqué n'est plus valide.</b>
                    <ul>
                        <li>Vous déjà validé ou refusé cette demande</li>
                        <li>La demande a été supprimée ou annulée</li>
                        <li>Vous vous êtes perdus sur Internet</li>
                    </ul> </p>
                </div>
                <div class="icon">
                    <i class="fas fa-bug"></i>
                </div>
                <!--
                <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
                </a>
                -->
            </div>
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>
{% endblock body %}