{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-8">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Nouvelle demande de congés</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="debut_input">Du</label>
                  <div id="debut_input" data-target-input="nearest" class="input-group date">
                    {{ form.debut |add_class:"form-control datetimepicker-input" | attr:"data-target:#debut_input" }}
                    <div data-target="#debut_input" data-toggle="datetimepicker" class="input-group-append">
                      <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
                {{ form.non_field_errors }}
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="fin_input">Au</label>
                  <div id="fin_input" data-target-input="nearest" class="input-group date">
                    {{ form.fin |add_class:"form-control datetimepicker-input" | attr:"data-target:#fin_input" }}
                    <div data-target="#fin_input" data-toggle="datetimepicker" class="input-group-append">
                      <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
                {{ form.non_field_errors }}
              </div>
              <div class="col-4">
                <div class="form-group">
                    {{ form.motif.errors }}
                    <label for="{{ form.motif.id_for_label }}">Motif :</label>
                    {{ form.motif |add_class:"form-control" }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                    {{ form.commentaire_salarie.errors }}
                    <label for="{{ form.commentaire_salarie.id_for_label }}">Commentaire :</label>
                    {{ form.commentaire_salarie  |add_class:"form-control" }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Suivant</button>
              </div>
              <div class="col-4"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="col-4">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Aide</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          Utilisez ce formulaire pour faire une demande de congés.<br >
          Un email sera envoyés a chaque adhérent listé, pour lui demander de valider ou non cette demande. Sous 15 jours, la demande sera automatiquement acceptée.<br />
          Le chargé de développement pourra ensuite donner son accord définitif.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
  $('#debut_input').datetimepicker({
      format: 'DD/MM/YYYY',
      locale: 'fr',
  });
  $('#fin_input').datetimepicker({
      format: 'DD/MM/YYYY',
      locale: 'fr',
  });
});



var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return({

    });
  },

  methods: {
    
  },
  mounted: function () {

  }
});

</script>
{% endblock "footer_js"%}