{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Ajouter des destinataires</h3>
        </div>  
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <p>Vous pouvez ajouter des personnes devant valider cette demande de congé (responsables de vos entreprises utilisatrices).</p>
              <p><b>{{demande.motif.libelle}}</b>, Du <b>{{demande.debut}}</b> au <b>{{demande.fin}}</b></p>
              

              <p>Une fois les destinataires ajoutés, vous pouvez envoyer votre demande.</p>
                
            </div>
            <div class="col-8">
            <form method="POST" action="/conge/new/step2/?id={{id}}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ id }}">
            <div class="row">
              <div class="col-4">
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email :</label>
                    {{ form.email |add_class:"form-control"}}
                </div>
              </div>
              <div class="col-4">
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.nom_prenom.errors }}
                    <label for="{{ form.nom_prenom.id_for_label }}">Nom et prénom :</label>
                    {{ form.nom_prenom |add_class:"form-control"}}
                </div>
              </div>
              <div class="col-4">
                <label for="{{ form.email.id_for_label }}">&nbsp;</label>
                <button type="submit" class="btn btn-primary btn-block">Ajouter la personne</button>
              </div>
            </div>
            {% if not conge_envoye %}
            <div class="row">
              <div class="col-5"></div>
              <div class="col-2">
              </div>
              <div class="col-5"></div>
            </div>
            {% endif %}
          </form>
              <div class="info-box">
                <span class="info-box-icon {% if validation_list %}bg-info{% else %}bg-danger{% endif %}"><i class="far fa-envelope"></i></span>
                <div class="info-box-content">
                  {% if validation_list %}
                    <p>Destinataires validés:</p>
                    <ul class="list-group">
                      {% for validation in validation_list %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">{{validation}} ({{validation.email}}) <span><a href="/conge/remove_validation/{{ validation.id }}/" class="btn btn-danger btn-xs"><i class="fas fa-times"></i></a></span></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p><h2>Aucune adresse ajoutée. </h2></p>
                  {% endif %}
                </div>

              </div>
                
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card card-outline card-primary">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <a href="/conge/envoi/{{id}}/" class="btn btn-block btn-success">Envoyer la demande</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
    $('datetimepicker-input').datetimepicker({
      locale: 'fr',
      format: 'JJ/MM/YYYY',
    });    
});


var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return({

    });
  },

  methods: {
    
  },
  mounted: function () {

  }
});

</script>
{% endblock "footer_js"%}