{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Changer l'email</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                <div class="row">
                  <div class="col-12">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="input-group">
                      <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock "main_content"%}