{% extends 'base.html'%}
{% load static %}
{% block header_css %}
.form-control-sm {
    height: calc(1.3rem + 2px);
    padding: .1rem .5rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: .2rem;
}

.table-sm td {
  padding: 0;
}

{% endblock header_css %}
{% block "main_content" %}
<div id="app">

  <div class="row">
    <div class="col-9">
      <div class="card" v-bind:class="infos_sup_mad.saisie_complete ? 'card-success' : 'card-warning'" v-if="mad_id">
        <div class="card-header">
          <h3 class="card-title">Mise a disposition ${mad_id} - (${mad.code_erp}) - ${mois_annee_str} - ${infos_sup_mad.saisie_complete ? 'Terminée' : 'En Cours'}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body" style="height:100%;overflow:auto;">
          <table class="table table-sm">
            <thead>
              <tr>
                <th></th>
                <th data-toggle="tooltip" data-placement="top" title="Heures saisies chez l'adhérent par le salarié">R</th>
                <th data-toggle="tooltip" data-placement="top" title="Heures d'absence saisies par le salarié ce jour">A</th>
                <th v-for="tarif in mad.tarifs_ge">
                  ${tarif.article.libelle}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(j, index_jour) in mad.jour_list" v-bind:class="{ 'bg-secondary disabled color-palette': j.non_travaille }" :key="j.num">
                <td class="text-nowrap">${j.str}</td>
                <td>
                  <span v-bind:class="[ j.releve_adherent.heures == 0 ? 'text-secondary' : 'text-primary font-weight-bold' ]">${j.releve_adherent.heures}</span>
                  <commentaire v-bind:id="'id_saisie' + j.releve_commentaire.id" v-bind:texte="j.releve_commentaire.text" v-if="j.releve_commentaire.text != ''"> 
                  <!-- <span v-if="j.releve_commentaire.text != ''" data-toggle="tooltip" data-placement="top" v-bind:title="j.releve_commentaire.text"><i class="far fa-comment"></i></span> -->
                </td>
                <td>
                  <span v-bind:class="[ j.releve_absence.heures == 0 ? 'text-secondary' : 'text-danger font-weight-bold' ]">${j.releve_absence.heures}</span>
                  <commentaire v-bind:id="'id_saisie' + j.releve_absence.id" v-bind:texte="j.releve_absence.commentaire" v-if="j.releve_absence.commentaire != ''">
                  <!-- <span v-if="j.releve_absence.commentaire != ''" data-toggle="tooltip" data-placement="top" v-bind:title="j.releve_absence.commentaire"><i class="far fa-comment"></i></span> -->
                </td>
                <td v-for="(tarif, index_tarif) in j.saisie_list" :key="tarif.id">
                  <input v-on:keyup.left="goLeft" v-on:keyup.right="goRight" v-on:keyup.up="goUp" v-on:keyup.down="goDown" v-bind:value="tarif.valeur" v-bind:class="class_value(tarif)" type="text" class="form-control form-control-sm" v-bind:id="j.num + '-' + tarif.tarif + '-' + index_jour + '-' + index_tarif" v-on:focusout="saveSaisieValue($event.target.value, $event.target.id)">
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td>${total_heures_releve_adherent}</td>
                <td>${total_heures_releve_absence}</td>
                <td v-for="tarifTotal in mad.tarifs_ge">
                  ${totaux_tarif[tarifTotal.id]}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
      <div class="card card-outline card-primary" v-if="mad.salarie.id">
        <div class="card-header">
          <h3 class="card-title">Memo Salarié</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body" style="height:100%;overflow:auto;">
          <div class="row">
            <div class="col-12">
              <textarea class="form-control" rows="4" v-model="mad.salarie.infos_sup.memo"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
              <button class="btn btn-success btn-block" v-on:click="saveMemo"><i class="fas fa-comments"></i> Mettre a jour</button>
            </div>
            <div class="col-3">
              <button class="btn btn-default btn-block" v-on:click="recupMemoMoisPrecedent"><i class="fas fa-history"></i> Récup mois précédent</button>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
      <div class="card card-outline card-danger" v-if="mad.salarie.id && mad.releve.commentaire != ''">
        <div class="card-header">
          <h3 class="card-title">Commentaire du relevé d'heures salarié</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body" style="height:100%;overflow:auto;">
          
          <span style="white-space: pre-line;">${mad.releve.commentaire}</span>
        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Recherche de la mise a disposition a saisir</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="mois_saisie">Période</label>
            <div class="input-group input-group date" id="mois_saisie" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#mois_saisie" />
              <div class="input-group-append" data-target="#mois_saisie" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="salarie_select_id">Salarié</label>
            <select name="salarie_id" class="form-control select2" id="salarie_select_id" style="width: 100%;">
              <option value="">Choisissez un salarié</option>
              {% for salarie in salarie_list %}
              <option value="{{salarie.id}}">{{salarie}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="mad_select_id">Mise a disposition</label>
            <select name="mad_id" class="select2 form-control" id="mad_select_id" style="width: 100%;"></select>
          </div>
          <button name="button_id" class="btn btn-primary btn-block" v-on:click="loadCalendar"><i class="far fa-edit"></i></button>

        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>

      <div class="card card-outline card-primary" v-if="mad_id">
        <div class="card-header">
          <h3 class="card-title">Salarié</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <b>Mensuel prévu :</b>
            </div>
            <div class="col-4">
              ${mad.duree_travail_mensuel}
            </div>
          </div>
          <div class="form-group row m-0">
            <label class="col-sm-8 p-0" for="heures_theoriques_salarie_id">Heures théoriques : </label>
            <div class="col-sm-4">
              <div class="input-group input-group-sm">
                <input class="form-control" type="number" id="heures_theoriques_salarie_id" v-model="infos_sup_salarie.heures_theoriques"></input>
                <span class="input-group-append">
                  <button class="btn btn-primary btn-flat" v-on:click="updateInfoSup"><i class="fas fa-save"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>Heures travaillées :</b>
            </div>
            <div class="col-4">
              ${infos_sup_salarie.heures_travaillees}
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>Différences d'heures :</b>
            </div>
            <div class="col-4">
              ${infos_sup_salarie.difference_heures}
            </div>
          </div>

          <div class="form-group row m-0">
            <label class="col-sm-8 p-0" for="ajustement_mois">Ajustement du mois : </label>
            <div class="col-sm-4">
              <div class="input-group input-group-sm">
                <input class="form-control" type="number" id="ajustement_mois" v-model="infos_sup_salarie.ajustement_mois"></input>
                <span class="input-group-append">
                  <button class="btn btn-primary btn-flat" v-on:click="updateInfoSup"><i class="fas fa-save"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>Compeur du mois :</b>
            </div>
            <div class="col-4">
              ${infos_sup_salarie.compteur_mois}
            </div>
          </div>
        </div>
      </div> <!-- /card -->
      <div class="card card-outline card-primary" v-if="mad_id">
        <div class="card-header">
          <h3 class="card-title">Mise a disposition</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>Heures travaillées</td>
                <td>${infos_sup_mad.heures_travaillees}</td>
              </tr>
              <tr>
                <td>Heures théoriques</td>
                <td>${infos_sup_mad.heures_theoriques}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- /card -->
      <div class="card card-outline card-primary" v-if="mad.releve">
        <div class="card-header">
          <h3 class="card-title">Relevé salarié</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8"><b>Heures Adhérent : </b></div> 
            <div class="col-4">${total_heures_releve_adherent}</div>
          </div>
          <div class="row">
            <div class="col-8"><b>Heures Absences : </b></div>
            <div class="col-4">${total_heures_releve_absence}</div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>Statut du relevé : </b>
            </div>
            <div class="col-4">
              ${mad.releve.gele ? 'Gelé' : 'Modifiable'} <button class="btn btn-primary btn-xs" v-on:click="gelDegelReleve"><i class="fas" v-bind:class="[!mad.releve.gele ? 'fa-snowflake' : 'fa-fire']"></i></button>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>Ouvrir le relevé : </b>
            </div>
            <div class="col-4">
              <a class="btn btn-primary btn-xs" v-bind:href="'/releve/ro/?id=' + mad.releve.id" target="_blank"><i class="fas fa-external-link-alt"></i></a>
              <a class="btn btn-danger btn-xs" target="_blank" v-bind:href="printReleveSalarieUrl"><i class="far fa-file-pdf"></i></a>
            </div>
          </div>
          <div class="row" v-if="mad.releve.commentaire != ''">
            <div class="col-12">
              <b>Commentaires du relevé d'heures :</b>
            </div>
          </div>
          <div class="row" v-if="mad.releve.commentaire != ''">
            <div class="col-12 border border-danger rounded" v-if="mad.releve" style="white-space: pre-line;">${mad.releve.commentaire}</div>
          </div>

        </div>
      </div> <!-- /card -->
      <div class="card card-outline card-primary" v-if="mad_id">
        <div class="card-header">
          <h3 class="card-title">Primes forfaitaires</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">


            <div class="col-8">
              <select name="mad_id" class="custom-select form-control" id="mad_prime_forfaitaire_add_id" style="width: 100%;" v-model="prime_forfaitaire_add.id">
                <option value="0" selected>---</option>
                <option v-for="prime in mad.primes_forfaitaires" :value="prime.id">
                  ${prime.article.libelle}
                </option>
              </select>
            </div>
            <div class="col-4">
              <div class="input-group input-group">
                <input class="form-control" type="text" v-model="prime_forfaitaire_add.value" size="3"></input>
                <span class="input-group-append">
                  <button class="btn btn-primary btn-flat" v-on:click="addPrimeForfait"><i class="fas fa-plus-square"></i></button>
                </span>
              </div>

              

          </div>
          <div class="row">
            <div class="col-12">
              <table v-if="mad.prime_forfaitaires_values" class="table">
                <thead>
                  <th>Nom</th>
                  <th>Prix</th>
                </thead>
                <tbody>
                  <tr v-for="forfait in mad.prime_forfaitaires_values">
                    <td>${forfait.tarif.article.libelle} </td>
                    <td>${forfait.quantite}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> <!-- /card -->
    </div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>


$(function () {
    $('#mois_saisie').datetimepicker({
      locale: 'fr',
      format: 'MMMM YYYY',
      defaultDate: moment(),
    });
    $('#salarie_select_id').select2({
      theme: 'bootstrap4',
    }); 
    $('#mad_select_id').select2({
      theme: 'bootstrap4',
    }); 
    $('.mad_prime_forfaitaire_add_id').select2({
      theme: 'bootstrap4',
    }); 
});

Vue.component('commentaire', {
  delimiters: ['${','}'],
  props: ['texte', 'id'],
  
  data: function () {
    return {
    }
  },
  mounted () {
    console.log("tippy : " + this.id + " " + this.texte)
    tippy("#"+this.id, {
      arrow: true,
      duration: [0, 250],
      trigger: 'click',
      interactive: true,
      placement: 'right',
      content: this.texte,
    });
  },
  // v-if="releve.jours_list[index_jour].saisie_list[index_saisie].commentaire != ''">
  template: '<span v-bind:id="id"><i class="far fa-comment"></i></span>',
})

var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data: {
    // loader
    loader: false,
    // couple mois-annnee selectionne
    mois: "",
    annee: "",
    // Salarie selectionne
    salarie_id: "",
    // mise a dispo selectionnee
    mad_id: "",
    mad: {
      jour_list:[],
      salarie:{
        infos_sup:{},
      },
      infos_sup:{},
    },
    prime_forfaitaire_add: {
      id: 0,
      value: 0,
    },
    moisStr: [
      "Janvier",
      "Février",
      "Mars",
      "Avril",
      "Mai",
      "Juin",
      "Juillet",
      "Aout",
      "Septembre",
      "Octobre",
      "Novembre",
      "Décembre",
    ],
    requestOptions: {
      method: "PUT",
      headers: { 
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
        "Accept": "application/json",
      },
      body: "",
      credentials: 'same-origin',
    },
  },
  computed: {
    printReleveSalarieUrl: function() {
      return "/releve/releve_mensuel_print_pdf/" + this.salarie_id + "/";
    },
    totaux_tarif: function() {
      // Calcule les tarifs total en bas de colonne du mois
      tar = {};
      for (jour of this.mad.jour_list) {
        for (saisie of jour.saisie_list) {
          if (tar[saisie.tarif] == null)
            tar[saisie.tarif] = 0;
          tar[saisie.tarif] += parseFloat(saisie.valeur);
        }
      }
      return tar;
    },
    infos_sup_mad: function() {
      // retourne un objet contenant les infos sup des mads. Si l'objet est null, returne des données par défaut
      if (this.mad.infos_sup == null) {
        return {};
      } else {
        return this.mad.infos_sup;
      }
    },
    infos_sup_salarie: function() {
      // retourne un objet contenant les infos sup des mads. Si l'objet est null, returne des données par défaut
      if (this.mad.salarie.infos_sup == null) {
        return {};
      } else {
        return this.mad.salarie.infos_sup;
      }
    },
    total_heures_releve_adherent() {
      // Retourne le total d'heures saisies dans le relevé du salarié pour cette MAD
      let ret = 0;
      for (jour of this.mad.jour_list) {
        ret += jour.releve_adherent.heures;
      }
      return ret;
    },
    total_heures_releve_absence() {
      // Retourne le total d'heures saisies dans le relevé du salarié pour cette MAD
      let ret = 0;
      for (jour of this.mad.jour_list) {
        ret += jour.releve_absence.heures;
      }
      return ret;
    },
    mois_annee_str() {
      // retourne le mois et l'année sous forme de string
      try {
        mois_int = Number(this.mois) - 1; // Janvier doit être 0
        mois_actuel_str = this.moisStr[mois_int];
      } catch(err) {
        return "";
      }
      return mois_actuel_str + " " + this.annee;
    },
  },
  methods: {
    fillSelectMiseADisposition: function() {
      self = this;
      // Fetch la liste des madss du salarié, et remplis le select des mads en fonction des résultats
      self.loader = true;
      fetch("/act/ajax_mad_for_salarie/" + this.salarie_id + "/false/").then(function (response) {
        return response.json();
      }).then(function (result) {
        $('#mad_select_id').val(null).empty().trigger('change');
        for (key in result) {
          var newOption = new Option(result[key].text, result[key].id, false, false);
          $('#mad_select_id').append(newOption).trigger('change');
          // console.log(result[key].id);
        }
        self.mad_id = $('#mad_select_id').val();
      });
      self.loader = false;
    },
    loadCalendar: async function() {
      // Charge la saisie de la mise a disposition
      self = this;
      self.loader = true;
      await fetch("/act/ajax_load_saisie_mad/" + this.mois + "/" + this.annee + "/" + this.mad_id+ "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        // console.log(result['jours']);
        self.mad = {};
        self.mad = result['mad'];
      });
      // suppression de la couleur verte des input
      // $("input").removeClass("bg-success");
      self.loader = false;
    },
    saveSaisieValue: function (value, id) {
      // Value: valeur saisie, id:couple jour / 
      // ajax_save_saisie/<str:valeur>/<int:tarif_id>/<int:annee>/<int:mois>/<int:jour>/
      self = this;
      [jour, tarif_id, index_jour, index_tarif] = id.split("-");
      if (value == '') {
        // il faut effacer la valeur dans ce cas
        value = "0";
      }
      fetch("/act/ajax_save_saisie/" + value + "/" + tarif_id + "/" + this.annee + "/" + this.mois+ "/" + jour + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        if (result['result'] == 'error') {
          $(document).Toasts('create', {
            class: 'bg-danger', 
            title: "Erreur d'enregistrement",
            body: result['message'],
          });
          $("#"+id).addClass("bg-danger");
        } else {
          self.mad.jour_list[index_jour].saisie_list[index_tarif].valeur = value;
          $("#"+id).addClass("bg-warning");
          if (self.mad.jour_list[index_jour].saisie_list[index_tarif].uploaded == true) {
            $(document).Toasts('create', {
              class: 'bg-warning', 
              title: "Activité déjà envoyée !",
              body: "Attention<br />Cette valeur a été déjà envoyée dans Cegid.<br /><br /> Pensez a supprimer l'ancienne valeur dans les activité sur affaire !",
              autohide: true,
              delay: 3000,
            });
          }
          self.updateInfoSup();
        }
      });
      
    },
    async gelDegelReleve() {
      // Gel ou dégel le releva salarié asoscié
      self = this;

      self.mad.releve.gele = !self.mad.releve.gele

      releve = { ...self.mad.releve };

      delete releve.created
      delete releve.updated
      self.requestOptions.body = JSON.stringify(releve);
      await fetch("/api/releve_salarie/" + self.mad.releve.id + "/", self.requestOptions).then(function (response) {
        return response.json();
      }).then(function (result) {
        if (result['result'] == 'error') {
          $(document).Toasts('create', {
            class: 'bg-danger', 
            title: "Erreur d'enregistrement",
            body: result['body'],
          });
        } else {
          $(document).Toasts('create', {
            class: 'bg-success', 
            title: self.mad.releve.gele ? "Relevé Gelé" : "Relevé Dégelé",
            body: result['body'],
          });
        }
      }).catch(function(ex) {
        $(document).Toasts('create', {
          class: 'bg-danger', 
          title: "Erreur d'enregistrement",
          body: ex,
        });
      });

    },
    async addPrimeForfait () {
      self = this;
      // Ajoute une prime forfaitaire
      if (this.prime_forfaitaire_add.value == "") {
        this.prime_forfaitaire_add.value = 0;
      }
      if (this.prime_forfaitaire_add.id != 0) {
        // La prime forfaitaire est ajoutée pour le jour 1 du mois
        // ca évite de faire une fonction dédiée
        await fetch("/act/ajax_save_saisie/" + this.prime_forfaitaire_add.value  + "/" + this.prime_forfaitaire_add.id + "/" + this.annee + "/" + this.mois+ "/1/").then(function (response) {
          return response.json();
        }).then(function (result) {
          if (result['result'] == 'error') {
            $(document).Toasts('create', {
              class: 'bg-danger', 
              title: "Erreur d'enregistrement",
              body: result['message'],
              autohide: true,
              delay: 3000,
            });
          } else {
            //rechargement
            self.loadCalendar();
          }
        });
      } else {
        console.log("id=0 ou value=0")
      }
    },
    updateInfoSup() {
      // Met a jour les heures et éventuellement d'autres trucs
      self = this;
      fetch("/act/ajax_maj_heures_travaillees/" + this.mad_id  + "/" + this.annee + "/" + this.mois+ "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.mad.infos_sup.heures_travaillees = result.mise_a_disposition.heures_travaillees;
        self.mad.salarie.infos_sup.heures_travaillees = result.salarie.heures_travaillees;
        self.mad.salarie.infos_sup.difference_heures = result.salarie.heures_travaillees - self.mad.salarie.infos_sup.heures_theoriques;
        self.saveInfoSupSalarie()
      });
      
    },
    saveMemo() {
      // Enregistre le champ mémo dans l'utilisateur
      self = this;
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ memo: self.mad.salarie.infos_sup.memo })
      };
      fetch("/act/update_memo/" + self.mad.salarie.infos_sup.id + "/", requestOptions).then(function (response) {
        return response.json();
      }).then(function (result) {
        $(document).Toasts('create', {
          class: result.class, 
          title: result.title,
          body: result.body,
          autohide: true,
          delay: 3000,
        });
      });
    },
    recupMemoMoisPrecedent() {
      // retourne et positionne le mémo du mois précédent, et le place a la suite du mémo actuel, sans enregistrer
      fetch("/act/infosup_salarie_mois_precedent/" + self.mad.salarie.id + "/" + self.annee + "/" + self.mois + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.mad.salarie.infos_sup.memo += "\n" + result["memo"]
      });
    },
    async saveInfoSupSalarie() {
      //Poste un json infosup pour mettre a jour les infosup du salarié
      self = this;
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(self.mad.salarie.infos_sup)
      };
      await fetch("/act/update_infosup_salarie/" + self.mad.salarie.id + "/" + self.annee + "/" + self.mois + "/", requestOptions).then(function (response) {
        return response.json();
      }).then(function (result) {
        $(document).Toasts('create', {
          class: result.class, 
          title: result.title,
          body: result.body,
          autohide: true,
          delay: 3000,
        });
      });
      self.loadInfoSupSalarie();
    },
    loadInfoSupSalarie() {
      // Charge les infosup salarie pour actualiser uniquement ces données
      fetch("/act/infosup_salarie/" + self.mad.salarie.id + "/" + self.annee + "/" + self.mois + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.mad.salarie.infos_sup = result['data']
      });
    },
    goUp(e) {
      // Appelé quand fleche en haut pressé. Met le focus sur la case au dessus
      // récupération de l'id de la case au dessus
      // Quel est mon id ?
      if (e) {
        console.log("Id Source=" + e.target.id);
        [jour, tarif_id, index_jour, index_tarif] = e.target.id.split("-");
        jour_up = Number(jour) - 1;
        index_jour_up = Number(index_jour) - 1;
        id_up = String(jour_up) + "-" + tarif_id + "-" + String(index_jour_up) + "-" + index_tarif;
        console.log("Id Target=" + id_up);
        var elem = document.getElementById(id_up);
        if (elem){
          // l'élément existe, on met le focus dessus
          elem.focus();
          elem.select();
        }
      }

    },
    goDown(e) {
      if (e) {
        console.log("Id Source=" + e.target.id);
        [jour, tarif_id, index_jour, index_tarif] = e.target.id.split("-");
        jour_up = Number(jour) + 1;
        index_jour_up = Number(index_jour) + 1;
        id_up = String(jour_up) + "-" + tarif_id + "-" + String(index_jour_up) + "-" + index_tarif;
        console.log("Id Target=" + id_up);
        var elem = document.getElementById(id_up);
        if (elem){
          // l'élément existe, on met le focus dessus
          elem.focus();
          elem.select();
        }
      }
    },
    goLeft(e) {
      if (e) {
        console.log("Id Source=" + e.target.id);
        [jour, tarif_id, index_jour, index_tarif] = e.target.id.split("-");
        // récup de l'id de tarif a gauche
        index_tarif_new = Number(index_tarif) - 1;
        if (index_tarif_new >= 0) {
          // On n'est pas sur la 1ere colonne
          tarif_id_new = this.mad.tarifs_ge[index_tarif_new].id;
        }
        id_new = jour + "-" + tarif_id_new + "-" + index_jour + "-" + index_tarif_new;
        console.log("Id Target=" + id_new);
        var elem = document.getElementById(id_new);
        if (elem){
          // l'élément existe, on met le focus dessus
          elem.focus();
          elem.select();
        }
      }
    },
    goRight(e) {
      if (e) {
        console.log("Id Source=" + e.target.id);
        [jour, tarif_id, index_jour, index_tarif] = e.target.id.split("-");
        // récup de l'id de tarif a gauche
        index_tarif_new = Number(index_tarif) + 1;
        if (index_tarif_new < this.mad.tarifs_ge.length) {
          // On n'est pas sur la 1ere colonne
          tarif_id_new = this.mad.tarifs_ge[index_tarif_new].id;
        }
        id_new = jour + "-" + tarif_id_new + "-" + index_jour + "-" + index_tarif_new;
        console.log("Id Target=" + id_new);
        var elem = document.getElementById(id_new);
        if (elem){
          // l'élément existe, on met le focus dessus
          elem.focus();
          elem.select();
        }
      }
    },            
    class_value: function(tarif) {
      // Retourne la classe a afficher dans la valeur du tarif
      if (tarif.valeur == 0) {
        return '';
      } else {
        if (tarif.uploaded == true) {
          return('bg-success');
        } else {
          return('bg-warning');
        }
      }
    },
  },
  mounted: function () {
      this.mois = moment().format("M");
      this.annee = moment().format("YYYY");
  }
});

// Select2 des salariés a été changé
$('#salarie_select_id').on('select2:select', function (e) { 
  // console.log('select event : ' + $(this).val());
  app.salarie_id = $(this).val();
  app.fillSelectMiseADisposition();
});

//le mois est choisi
$('#mois_saisie').on('hide.datetimepicker', function (e) { 
  // console.log('Date event : ' + e.date.format("MM-YYYY"));
  d = e.date.format("M-YYYY").split("-");
  app.mois = d[0];
  app.annee = d[1];
});

// La mise a disposition est choisie
$('#mad_select_id').on('select2:select', function (e) { 
  // console.log('select event : ' + $(this).val());

  app.mad_id = $(this).val();
  app.loadCalendar();
});

</script>
{% endblock "footer_js"%}