{% extends 'base.html'%}
{% load static %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-6">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Lecture des données de Cegid Y2 XRP Sprint</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <a href="#" class="btn btn-primary" v-on:click="getDataXrp" v-bind:class="{ 'disabled': loaderGetData }"><i class="fas fa-cloud-download-alt"></i> Synchro XRP Sprint</a>
              <a href="#" class="btn btn-primary" v-if="loaderGetData"><i class="fas fa-sync-alt fa-spin"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span><pre>${synchroLogGetData}</pre></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Envoi des activités</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <a href="#" class="btn btn-primary" v-on:click="uploadActivites" v-bind:class="{ 'disabled': loaderUploadActivites }"><i class="fas fa-cloud-upload-alt"></i> Envoi des activités</a>
              <a href="#" class="btn btn-primary" v-if="loaderUploadActivites"><i class="fas fa-sync-alt fa-spin"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span><pre>${synchroLogActivites}</pre></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Actions mensuelles</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <div class="input-group input-group date" id="mois_saisie" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#mois_saisie" />
                  <div class="input-group-append" data-target="#mois_saisie" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <a class="btn btn-primary" v-bind:href="getDownloadUrl()" target="_blank" download><i class="fas fa-file-download"></i> Fichier d'import paie</a>
              <a class="btn btn-primary" v-bind:href="getDownloadUrlRelevePdf()" target="_blank" download><i class="fas fa-file-pdf"></i> PDF relevés salariés</a>
              <button class="btn btn-primary" v-on:click="gelReleve"><i class="fas fa-snowflake"></i> Geler les relevés</button>
              <button class="btn btn-danger" v-on:click="degelReleve"><i class="fas fa-fire"></i> Dégeler les relevés</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
    $('#mois_saisie').datetimepicker({
      locale: 'fr',
      format: 'MMMM YYYY',
      defaultDate: moment(),
    });    
});

var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return({
      // loader
      loaderGetData: false,
      loaderUploadActivites: false,
      synchroLogGetData: "",
      synchroLogActivites: "",
      mad_list: [],
      mois: "",
      annee: "",
    });
  },

  methods: {
    async getDataXrp() {
      self = this;
      self.loaderGetData = true;
      self.synchroLogGetData = "";
      self.synchroLogGetData += "Synchronisation des Familles d'articles...";
      await fetch("/act/ajax_update_famille_article/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Services...";
      await fetch("/act/ajax_update_service/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Postes ...";
      await fetch("/act/ajax_update_poste/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Salariés...";
      await fetch("/act/ajax_update_salaries/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Rubriques ...";
      await fetch("/act/ajax_update_rubrique/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      // TODO : ici si possible alimentation de la tablette des rubriques en GA
      this.synchroLogGetData += "Synchronisation des Articles ...";
      await fetch("/act/ajax_update_article/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Adhérents ...";
      await fetch("/act/ajax_update_adherent/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      this.synchroLogGetData += "Synchronisation des Mises à disposition ...";
      await fetch("/act/ajax_update_mad/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogGetData += result.result + " (T : " + result.count + ", N: " + result.ajoute + ")\n";
      });
      self.loaderGetData = false;
    },
    async uploadActivites() {
      // récupère la liste des liste des saisies a envoyer, classées par mad
      self = this;
      self.loaderUploadActivites = false;
      self.synchroLogActivites = "";
      self.synchroLogActivites += "Sélection des Mises a disposition a envoyer...";
      await fetch("/act/ajax_get_mad_to_upload/").then(function (response) {
        return response.json();
      }).then(function (result) {
        self.synchroLogActivites += "OK\n"
        self.mad_list = result;
      });
      console.log(self.mad_list);
      for (index in self.mad_list) {
        console.log(app.mad_list[index].code_erp);
        self.synchroLogActivites += "Envoi de " + app.mad_list[index].code_erp + "... ";
        await fetch("/act/ajax_upload_activite/" + app.mad_list[index].id + "/").then(function (response) {
          if (response.status != "200") {
            console.log(response.text());
          }
          return response.json();
        }).then(function (result) {
          
          self.synchroLogActivites += "OK\n";
        });
      }
      alert("Activités envoyées");
    },
    getDownloadUrl() {
      self = this;
      return "/act/download_paie/" + self.annee + "/" + self.mois + "/"
    },
    getDownloadUrlRelevePdf() {
      self = this;
      return "/releve/releve_mensuel_print_all_pdf/" + self.annee + "/" + self.mois + "/"
    },
    async gelReleve() {
      self=this;
      await fetch("/releve/gel_releve/" + self.annee + "/" + self.mois + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        alert("Nombre de relevés gelés : " + result['num_rows'])
      });
    },
    async degelReleve() {
      self=this;
      await fetch("/releve/degel_releve/" + self.annee + "/" + self.mois + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        alert("Nombre de relevés dégelés : " + result['num_rows'])
      });
    },
  },
  mounted: function () {
      this.mois = moment().format("M");
      this.annee = moment().format("YYYY");
  }
});


//le mois est choisi
$('#mois_saisie').on('hide.datetimepicker', function (e) { 
  // console.log('Date event : ' + e.date.format("MM-YYYY"));
  d = e.date.format("M-YYYY").split("-");
  app.mois = d[0];
  app.annee = d[1];
});

</script>
{% endblock "footer_js"%}