{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-10">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">
            {% if create %}
              Création d'un nouveau tarif
            {% else %}
              Edition du tarifs : <b>{{object.mise_a_disposition}}</b> ({{object.article}})
            {% endif %}
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.id }}
            <div class="row">
              {% if form.non_field_errors %}
              <div class="row">
                <div class="col-12">
                  {{ form.non_field_errors }}
                </div>
              </div>
              {% endif %}
              <div class="col-6">
              {% if create %}
                <label for="{{ form.article.id_for_label }}">Article :</label>
                {{ form.article | add_class:"form-control" | attr:"style:width:100%"}}
                {{ form.article.errors }}
                <label for="{{ form.mise_a_disposition.id_for_label }}">Mise a disposition :</label>
                {{ form.mise_a_disposition | add_class:"form-control" | attr:"style:width:100%"}}
                {{ form.mise_a_disposition.errors }}
              {% endif %}
              </div>
              <div class="col-6">
                <label for="{{ form.tarif.id_for_label }}">Tarif :</label>
                {{ form.tarif | add_class:"form-control" | attr:"style:width:100%"}}
                {{ form.tarif.errors }}
                <label for="{{ form.coef_paie.id_for_label }}">Coef Paie :</label>
                {{ form.coef_paie | add_class:"form-control" | attr:"style:width:100%"}}
                {{ form.coef_paie.errors }}
                <label for="{{ form.coef.id_for_label }}">Coef :</label>
                {{ form.coef | add_class:"form-control" | attr:"style:width:100%"}}
                {{ form.coef.errors }}
                {% if not create %}
                <div class="custom-control custom-switch">
                  {{ form.archive | add_class:"custom-control-input"}}
                  <label for="{{ form.archive.id_for_label }}" class="custom-control-label">Archive</label>
                  {{ form.archive.errors }}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="text-center p-3">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
                  <a href="{% url "tarifs" %}" class="btn btn-default"><i class="fas fa-hand-point-left"></i> Annuler</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Aide</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
    $('#id_article').select2({
      theme: 'bootstrap4',
    }); 
    $('#id_mise_a_disposition').select2({
      theme: 'bootstrap4',
    }); 
    
});


var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data: {
    // loader
    loader: false,
  },
  methods: {

  },

});

</script>
{% endblock "footer_js"%}