{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Edition des tarifs</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form method="get">
            <div class="row">
              <div class="col-2">
                <label for="{{ filter.form.mise_a_disposition__salarie.id_for_label }}">Salarié :</label>
                {{ filter.form.mise_a_disposition__salarie | add_class:"form-control" | attr:"style:width:100%"}}
                {{ filter.form.mise_a_disposition__salarie.errors }}
                <!-- {{ filter.form.as_p }} -->
              </div>
              <div class="col-2">
                <label for="{{ filter.form.mise_a_disposition__adherent.id_for_label }}">Adhérent :</label>
                {{ filter.form.mise_a_disposition__adherent | add_class:"form-control" | attr:"style:width:100%"}}
                {{ filter.form.mise_a_disposition__adherent.errors }}
                <!-- {{ filter.form.as_p }} -->
              </div>
              <div class="col-2">
                <label for="{{ filter.form.article.id_for_label }}">Article :</label>
                {{ filter.form.article | add_class:"form-control" | attr:"style:width:100%"}}
                {{ filter.form.article.errors }}
                <!-- {{ filter.form.as_p }} -->
              </div>
              <div class="col-2">
                <label for="{{ filter.form.archive.id_for_label }}">Archivé :</label>
                {{ filter.form.archive | add_class:"form-control" | attr:"style:width:100%"}}
                {{ filter.form.archive.errors }}
                <!-- {{ filter.form.as_p }} -->
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-default"><i class="fas fa-filter"></i></button>
                <a href={% url "tarifge-add" %} class="btn btn-primary"><i class="fas fa-plus"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">{{tarif_count}} tarifs affichés sur {{tarif_count_filter}} (total {{tarif_count_all}}). Max 50. {% if tarif_count < tarif_count_filter %} Tous les tarifs ne sont pas affichés, utilisez le filtre pour réduire la sélection {% endif %} </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body" style="height:100%;overflow:auto;">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>id</th>
                <th>Salarié</th>
                <th>Adhérent</th>
                <th>Article</th>
                <th>Tarif</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for tarif in tarif_list %}
                <tr>
                  <td>{{tarif.id}}</td>
                  <td>{{tarif.mise_a_disposition.salarie}}</td>
                  <td>{{tarif.mise_a_disposition.adherent}}</td>
                  <td>{{tarif.article}}</td>
                  <td>{{tarif.tarif}}</td>
                  <td>
                    <a href="{% url 'tarifge-update' pk=tarif.id %}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'tarifge-delete' pk=tarif.id %}" class="btn btn-default"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Aide</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
    $('#id_mise_a_disposition__salarie').select2({
      theme: 'bootstrap4',
    }); 
    $('#id_mise_a_disposition__adherent').select2({
      theme: 'bootstrap4',
    }); 
    
    $('#id_article').select2({
      theme: 'bootstrap4',
    }); 
    $('#id_archive').select2({
      theme: 'bootstrap4',
    });
    
});


var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data: {
    // loader
    loader: false,
  },
  methods: {

  },

});

</script>
{% endblock "footer_js"%}