{% extends 'base.html'%}
{% load static %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-12">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Edition des tarifs</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form method="get">
            <div class="row">
              <div class="col-9">
                {{ filter.form.as_p }}
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                <button type="button" class="btn btn-success" id="add-button"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Tarifs ({{tarif_count}} affichés sur {{tarif_count_all}})</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body" style="height:100%;overflow:auto;">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>id</th>
                <th>Salarié</th>
                <th>Adhérent</th>
                <th>Article</th>
                <th>Tarif</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for tarif in tarif_list %}
                <tr>
                  <td>{{tarif.id}}</td>
                  <td>{{tarif.mise_a_disposition.salarie}}</td>
                  <td>{{tarif.mise_a_disposition.adherent}}</td>
                  <td>{{tarif.article}}</td>
                  <td>{{tarif.tarif}}</td>
                  <td>
                    <a href="{% url 'tarifge-update' pk=tarif.id %}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'tarifge-delete' pk=tarif.id %}" class="btn btn-default"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Aide</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>

$(function () {
    $('#salarie_select_id').select2({
      theme: 'bootstrap4',
    }); 
    $('#adherent_select_id').select2({
      theme: 'bootstrap4',
    }); 
    
    $('#article_select_id').select2({
      theme: 'bootstrap4',
    }); 
});


var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data: {
    // loader
    loader: false,
  },
  methods: {

  },

});

</script>
{% endblock "footer_js"%}