{% extends 'base.html'%}
{% load static %}
{% block header_css %}
.form-control-sm {
    height: calc(1.3rem + 2px);
    padding: .1rem .5rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: .2rem;
}

.table-sm td {
  padding: 0;
}

{% endblock header_css %}
{% load widget_tweaks %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-10">
      <div class="card card-outline card-primary" v-if="releve_loaded">
        <div class="card-header">
          <h3 class="card-title">Saisie de l'Activité</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Jour</th>
                <th v-for="mad in releve.mad_list">${mad.adherent.raison_sociale}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(j, index_jour) in releve.jours_list" v-bind:class="{ 'bg-secondary disabled color-palette': j.non_travaille }" :key="j.num">
                <td class="text-nowrap">${j.str}</td>
                <td v-for="(saisie, index_saisie) in j.saisie_list" :key="saisie.id">
                  <input v-bind:value="saisie.heures" v-bind:class="class_value(saisie)" type="text" class="form-control form-control-sm" v-bind:id="j.num + '-' + saisie.id + '-' + index_jour + '-' + index_saisie" v-on:focusout="saveSaisieValue($event.target.value, $event.target.id)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Mois a saisir</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="mois_saisie">Période</label>
                <div class="input-group input-group date" id="mois_saisie" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#mois_saisie" />
                  <div class="input-group-append" data-target="#mois_saisie" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button name="button_id" class="btn btn-primary" v-on:click="loadCalendar"><i class="far fa-edit"></i></button>

        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>
$(function () {
    $('#mois_saisie').datetimepicker({
      locale: 'fr',
      format: 'MMMM YYYY',
      defaultDate: moment(),
    });
});
var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return {
      // loader
      loader: false,
      mois: "",
      annee: "",
      releve: {},
      releve_loaded: false,
    };
  },
  methods: {
    async loadCalendar() {
      // Charge la saisie de la mise a disposition
      self = this;
      self.loader = true;
      await fetch("/releve/ajax_load_saisie_releve/" + this.mois + "/" + this.annee + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        // console.log(result['jours']);
        self.releve = {};
        self.releve = result;
        self.releve_loaded = true;
      });
      // suppression de la couleur verte des input
      // $("input").removeClass("bg-success");
      self.loader = false;
    },
    saveSaisieValue(value, id) {
      self = this;
      [numero_jour, saisie_id, index_jour, index_saisie] = id.split("-");
      if (value == '') {
        // il faut effacer la valeur dans ce cas
        value = "0";
      }

      fetch("/releve/ajax_save_saisie/" + value + "/" + saisie_id + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        if (result['result'] == 'error') {
          $(document).Toasts('create', {
            class: 'bg-danger', 
            title: "Erreur d'enregistrement",
            body: result['message'],
          });
          $("#"+id).addClass("bg-danger");
        } else {
          self.releve.jours_list[index_jour].saisie_list[index_saisie].valeur = value;
          $("#"+id).addClass("bg-success");
        }
      });
    },
    class_value(saisie) {
      if (saisie.heures == 0) {
        return '';
      } else {
        return 'bg-primary';
      }
    },
  },
  mounted: function () {
      this.mois = moment().format("M");
      this.annee = moment().format("YYYY");
  },
});

//le mois est choisi
$('#mois_saisie').on('hide.datetimepicker', function (e) { 
  // console.log('Date event : ' + e.date.format("MM-YYYY"));
  d = e.date.format("M-YYYY").split("-");
  app.mois = d[0];
  app.annee = d[1];
});

</script>
{% endblock "footer_js"%}