{% extends 'base.html'%}
{% load static %}
{% block header_css %}
.form-control-sm {
    height: calc(1.3rem + 2px);
    padding: .1rem .5rem;
    font-size: 0.7rem;
    line-height: 1;
    border-radius: .2rem;
}

.table-sm td {
  padding: 0;
}

{% endblock header_css %}
{% load widget_tweaks %}
{% block "main_content" %}
<div id="app">
  <div class="row">
    <div class="col-10">
      <div class="card card-outline card-primary" v-if="releve_loaded">
        <div class="card-header">
          <h3 class="card-title">Saisie de l'Activité</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Jour</th>
                <th v-for="mad in releve.mad_list">${mad.adherent.raison_sociale}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(j, index_jour) in releve.jours_list" v-bind:class="{ 'bg-secondary disabled color-palette': j.non_travaille }" :key="j.num">
                <td class="text-nowrap">${j.str}</td>
                <td v-for="(saisie, index_saisie) in j.saisie_list" :key="saisie.id">
                  <div class="input-group input-group-sm">
                    <input v-bind:value="saisie.heures" v-bind:class="class_value(saisie)" type="text" class="form-control form-control-sm" v-bind:id="j.num + '-' + saisie.id + '-' + index_jour + '-' + index_saisie" v-on:focusout="saveSaisieValue($event.target.value, $event.target.id)">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-info btn-flat" v-on:click="showCommentModal(saisie.id, index_jour, index_saisie)"><i class="far fa-comment"></i><span class="badge badge-danger" v-if="saisie.commentaire != ''">*</span></button>
                    </span>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Mois a saisir</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="mois_saisie">Période</label>
                <div class="input-group input-group date" id="mois_saisie" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#mois_saisie" />
                  <div class="input-group-append" data-target="#mois_saisie" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button name="button_id" class="btn btn-primary" v-on:click="loadCalendar"><i class="far fa-edit"></i></button>

        </div>
        <div class="overlay" v-show="loader">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal pour édition des commentaires -->
  <div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="commentaireModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Commentaire ${commentaireModalData.adherent_txt} du ${commentaireModalData.jour_txt}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" name="commentaire" id="id_commentaire" v-model="commentaireModalData.commentaire"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" v-on:click="saveCommentModal">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock "main_content"%}
{% block "footer_js" %}
<script src="{% static 'vuejs/vue.js' %}"></script>
<script>
$(function () {
    $('#mois_saisie').datetimepicker({
      locale: 'fr',
      format: 'MMMM YYYY',
      defaultDate: moment(),
    });
    $('[data-toggle="tooltip"]').tooltip()
});
var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data() {
    return {
      // loader
      loader: false,
      mois: "",
      annee: "",
      releve: {},
      releve_loaded: false,
      commentaireModalData: {
        index_jour: 0,
        index_saisie: 0,
        saisieId: 0,
        commentaire: "",
        jour_txt: "",
        adherent_txt: "",
      },
    };
  },
  methods: {
    async loadCalendar() {
      // Charge la saisie de la mise a disposition
      self = this;
      self.loader = true;
      await fetch("/releve/ajax_load_saisie_releve/" + this.mois + "/" + this.annee + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        // console.log(result['jours']);
        self.releve = {};
        self.releve = result;
        self.releve_loaded = true;
      });
      // suppression de la couleur verte des input
      // $("input").removeClass("bg-success");
      self.loader = false;
    },
    saveSaisieValue(value, id) {
      // Enregistre la valeur saisie dans la case
      self = this;
      [numero_jour, saisie_id, index_jour, index_saisie] = id.split("-");
      if (value == '') {
        // il faut effacer la valeur dans ce cas
        value = "0";
      }

      fetch("/releve/ajax_save_saisie/" + value + "/" + saisie_id + "/").then(function (response) {
        return response.json();
      }).then(function (result) {
        if (result['result'] == 'error') {
          $(document).Toasts('create', {
            class: 'bg-danger', 
            title: "Erreur d'enregistrement",
            body: result['message'],
          });
          $("#"+id).addClass("bg-danger");
        } else {
          self.releve.jours_list[index_jour].saisie_list[index_saisie].valeur = value;
          $("#"+id).addClass("bg-success");
        }
      });
    },
    showCommentModal(id, index_jour, index_saisie) {
      // Charge les données dans le modal et afflche
      self = this;
      self.commentaireModalData.saisieId = id;
      self.commentaireModalData.index_jour = index_jour;
      self.commentaireModalData.index_saisie = index_saisie;
      self.commentaireModalData.jour_txt = moment({ year :self.annee, month :self.mois, day :self.releve.jours_list[index_jour].num}).format("dddd D MMMM");
      self.commentaireModalData.commentaire = self.releve.jours_list[index_jour].saisie_list[index_saisie].commentaire;
      self.commentaireModalData.adherent_txt = self.releve.mad_list[index_saisie].adherent.raison_sociale;

      $('#commentaireModal').modal("show");
    },
    saveCommentModal() {
      // Enregistre le commentaire saisi dans le modal, et actualise le commentaire chargé
      self = this;
      self.releve.jours_list[self.commentaireModalData.index_jour].saisie_list[self.commentaireModalData.index_saisie].commentaire = self.commentaireModalData.commentaire
      const requestOptions = {
        method: "PUT",
        headers: { 
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken"),
          "Accept": "application/json",
        },
        body: JSON.stringify(self.releve.jours_list[self.commentaireModalData.index_jour].saisie_list[self.commentaireModalData.index_saisie]),
        credentials: 'same-origin',
      };
      fetch("/api/saisie_salarie/" + self.commentaireModalData.saisieId + "/", requestOptions).then(function (response) {
        return response.json();
      }).then(function (result) {
        console.log("OK !", result);
      }).catch(function(ex) {
        console.log("parsing failed", ex);
      });
      $('#commentaireModal').modal("hide");
    },
    class_value(saisie) {
      if (saisie.heures == 0) {
        return '';
      } else {
        return 'bg-primary';
      }
    },
  },
  mounted: function () {
      this.mois = moment().format("M");
      this.annee = moment().format("YYYY");
  },
});

//le mois est choisi
$('#mois_saisie').on('hide.datetimepicker', function (e) { 
  // console.log('Date event : ' + e.date.format("MM-YYYY"));
  d = e.date.format("M-YYYY").split("-");
  app.mois = d[0];
  app.annee = d[1];
});

</script>
{% endblock "footer_js"%}